*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

ul {
  text-align: left;
}

header {
  background: #4267b2;
  justify-content: space-between;
}

footer {
  padding: 5px;
  background: #ddd;
  color: #4e4e4e;
  text-align: center;
}

.flex-container {
  display: flex;
}

.flex-item {
  text-align: center;
  margin: 3px;
}

.content {
  width: 100%;
  min-height: 600px;
}

.side-panel{
  background: #f6f3f3;
  width: 300px;
}

/* buttons */
.btn{
  background: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  outline: none;
}

.btn:disabled, .btn:disabled:hover{
  background: #b6b0b0;
}

.btn:hover{
  background: #ececec;
  cursor: pointer;
}

.blue-btn{
  background: #385898;
  color: white;
}

.blue-btn:hover{
  background: #384b8b;
}

/* top menu */
.top-menu li {
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}

.top-menu li:hover{
  background: #385898;
  cursor: pointer;
}

.top-menu li a {
  text-decoration: none;
  color: white;
}

/* post */
.post-item {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

/* spinner */
.spinner {
  background: url('/spinner.gif') no-repeat;
  width: 200px;
  height: 200px;
  margin: auto;
}

/* from items */
.form-group label {
  display: block;
  text-align: left;
}

.form-group input[type=text],
.form-group input[type=password],
.form-group input[type=number],
.form-group textarea {
  margin: 5px;
  padding: 5px;
  border: 1px solid #bbb;
  width: 90%;
}

.form-group textarea {
  min-width: 90%;
  max-width: 90%;
  height: 300px;
}

.form-group .error {
  color: red;
}